
  @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Roboto&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Montserrat';
    background: #f5f5f5;
}

h1, h3 {
   font-family: 'Crimson Text', serif;
}

p {
    font-family: 'Roboto', sans-serif;
}
.item-card{
    background: rgb(201, 189, 185, 0.25);
}

a{
    text-decoration: none;
    color: black;
}